<configuration>
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <level>level</level>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="json"/>
    </root>
</configuration>
